<div class="module">
            <div class="user">
                <p>Email: <input type="text" name="" id="" value="{{Email}}"> </p>
                <p>FirstName: <input type="text" name="" id="" value="{{Firstname}}"></p>
                <p>LastName: <input type="text" name="" id="" value="{{Lastname}}"></p>
                
                <input type="submit" value="ldskjf">
            </div>
</div>